body{
  background-color: hsl(0, 60%, 50%);

}

h1{
  font-size: 90px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-     serif;
  font-weight: bold;
  text-align: center;
  
}

h2{
  font-size: 75px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-     serif;
  text-align: center;  

}

 .years{
  font-size: 35px; 
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-     serif;
  text-align: center;
  
}


#link{
  font-size: 30px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-     serif;
  text-align: center;

}

.bigGoldstar{
  color:rgb(218,165,32);
  font-size: 68px;
  
}

.lilGoldstar{
  color:rgb(218,165,32);
  font-size: 30px;
}

a:link {
  text-align: center;
  color: lightgrey;
  background-color: transparent;
  text-decoration: none;
  
}

a:visited {
  color: lightgrey;
  background-color: transparent;
  text-decoration: none;

}

a:hover {
  color:rgb(218,165,32);
  background-color: transparent;
  text-decoration: underline;

}

a:active {
  color: lightgrey;
  background-color: transparent;
  text-decoration: underline;

}
